#Explore{
    color: white;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

#Deliveries,#menu ,#Bookmark,
#moon,#question,#settings,
#shoppingCart,#friends {
    color: white;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.Container-icones{


    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    justify-content: space-between;


}



#ligne {
    width: 60px;
}
.logoImg{
    width:50px ;
    height:50px !important;

}
@media (max-width: 490px) {

    .logoImg,#menu ,#shoppingCart{
        position: relative;

    }
    .logoImg{
        width:35px !important;
        height:35px !important;
        position: fixed;
        top: 12px;
        left: 34px;


    }

    #menu {

        position: fixed;
        left: 12px;
        top:19px;

        width: 16px;

    }
    #shoppingCart{


        position: fixed;
        right: 17%;
        top: 20px;
        width: 23px;
        height: 25px;
    }





    #ligne,#Deliveries ,#Bookmark,
    #moon,#question,#settings,
    #friends,#Explore{
        display: none;
    }





}

@media (min-width: 490px) and (max-width: 860px)

{
    #Explore{
        color: white;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    #Deliveries,#menu ,#Bookmark,
    #moon,#question,#settings,
    #shoppingCart,#friends {
        color: white;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }
    .Container-icones{


        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 10px;
        margin-bottom: 360px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        justify-content: space-between;


    }



    #ligne {
        width: 30px;
    }
    .logoImg{
        width:30px ;
        height:30px !important;

    }


}


@media (min-width: 860px) and (max-width: 1170px)
{
    #Explore{
        color: white;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    #Deliveries,#menu ,#Bookmark,
    #moon,#question,#settings,
    #shoppingCart,#friends {
        color: white;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    .Container-icones{


        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        justify-content: space-evenly;


    }



    #ligne {
        width: 50px;
    }
    .logoImg{
        width:40px ;
        height:40px !important;

    }

}