
.NavbarLeft{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 7%;
    height: 100%;
    background: linear-gradient(to top, rgb(37, 40, 45), rgb(37, 40, 46));

    box-shadow: 0.5px 1px 1px rgb(55, 55, 55);
    z-index: 1001;

}
@media (max-width: 490px) {
    .NavbarLeft{

    background: transparent;
        box-shadow:none;

}

}

