.below-nav{
    position: Absolute;

    top: 6rem;
    right: -1.2rem;


    width: 94%;
    height: 30px;
}
.container-BelowNav {
    text-decoration: none;
    color: white;


    position: relative;
    justify-content: space-evenly;




    height: 100%;
    width: 100%;
    display: flex;


}
.container-BelowNav a {
    color: white;
    text-decoration: none;
    align-items: center;


    font-size: 18px;
    font-weight: bold;
    font-family: "Plus Jakarta sans";

}
@media (max-width: 490px) {

    .below-nav {
       display: none;

    }







}
@media (min-width: 850px) and (max-width: 1170px)
{
    .below-nav{

        width: 90%;
        height: 2rem;
        position: Absolute;
        top: 4.5rem;
        right: 0px;





    }
    .container-BelowNav {
        position: relative;
        width: 100%;
        height: 100%;
        margin:auto;
        display: flex;
        align-items: center;
        gap: 0.8rem;


    }
    .container-BelowNav a{
        width: 200px;
        font-size: 13px;
        font-weight: bold;

    }


}
@media (min-width: 490px) and (max-width: 850px) {
    .below-nav {

        width: 90%;
        height: 2rem;
        position: Absolute;
        top: 3.2rem;
        right: 0px;


    }

    .container-BelowNav {
        position: relative;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        gap: 0.4rem;


    }

    .container-BelowNav a {
        width: 200px;
        font-size: 10px;
        font-weight: bold;

    }
}
