.container-BelowNav{
    position: relative;
    top: 65px;
    left: 6rem;

    height: 100%;
    width: 100%;
    display: flex;
    gap :24px;
    align-items: center;
    max-width: 90%;
    font-size: 18px;


    font-family: "Plus Jakarta sans", sans-serif;
    padding: 0rem 1rem;
}
.container-BelowNav a{
    text-decoration: none;
    color: white;
}