.offers {
    position: absolute;
    top: 40%;
    right: 0px;
    left: 70px;

    width: 84%;
    height: 24rem;
    padding: 5%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0px;


}

h1{
    justify-content: center;
    color: white;
    text-align: center;
    font-weight:bold;
    font-size: 2.5rem;
    font-family: "Plus Jakarta sans";

}

.Offers-Conatiner{


    margin-left: 10px;
    position: relative;

    width: 100%;
    justify-content: space-between;

    align-items: center;


    display: flex;
    flex-direction: row;
}
.Recommendations,.BigSaves,.FlashSales{

    border: 0.2px solid #3a3d42;
    width: 350px;
    height: 350px;
    background-color: #24272c;
    border-radius: 15px;
    box-shadow: 1px 1px 4px #3a3a3a;
}
h3{
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

}
.Prdoduct-Container{

    position: relative;
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;


}
.Productone,.Producttwo{

    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;

    gap: 30px;
    margin-top: 5px;


}
.ProductImg{
    box-shadow: 1px 1px 4px #3a3a3a;
    margin-top: 5px;
    width: 150px;
    height: 170px;
    background-color: #2a2d32;
    border-radius: 10px;
    margin-right: 5px;
    cursor: zoom-in;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease-in-out, background 0s 2s;
    flip: horizontal;
}
.ProductImg.flipped{
    transition: transform 0.4s ease-in-out, background 0s 2s;
    transform: rotateY(180deg);

}
.ProductImg.flipped:hover{
    display: none;
    width: 150px;
    height: 170px;
    cursor: not-allowed;


}

.ProductImg2{
    box-shadow: 1px 1px 4px #3a3a3a;
    margin-top: 5px;
    width: 150px;
    height: 170px;
    background-color: #2a2d32;
    border-radius: 10px;
    margin-left: 5px;
    cursor: zoom-in;
}
.ProductImg:hover,.ProductImg2:hover{
    position: relative;
    top: -50%;
    left: -50%;
    object-fit: cover;
    width: auto;
    height: 300px;
    width: 300px;
    overflow-x:hidden ;




    z-index: 1;
}

.ProductImg:active,.ProductImg2:active{
    transform: scale(1.5);
    transition: transform 1s ease;



    z-index: 1;
}
.ProductDes{
    font-family: "Plus Jakarta sans";

    left: 2px;
    height: 30%;
    width: 100%;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    top:70% ;
    margin-top:0px ;

}


.flash{


    background-color: #f3f3f3;
    width: 90px;
    height: 4px;
    margin-right: -10px;
}
.flashtwo{
    background-color: #f3f3f3;
    width: 40px;
    height: 4px;
    margin-right: -10px;
}


.flashContainertwo{
    position: absolute;
    top: -30%;
    left: 12px;



    display: flex;
    align-items: center;
    justify-content: center;

}
.flashContainer{

    position: absolute;
    top: -30%;


    display: flex;
    align-items: center;
    justify-content: center;



}

#title{
    position :relative ;
    fontSize:13px;
    marginTop:20px;
    left:10px;
}
#pourcentage{
    fontSize:14px;
}
button {

    background-color: white;
    width: 70px;
    height: 30px;
    text-align: center;

    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 3px #353535;
}

@media (max-width: 450px) {


    .offers {
        position: absolute;

        top: 20%;
        left: 1%;

        margin: auto;
        width: 100%;
        height: 20rem;

        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;



    }
    .Offers-Conatiner{



        position: relative;
        padding-left:8%;
        position: relative;
        right: 3%;
        width: 100%;
        justify-content: center;

        align-items: center;


        display: flex;

    }

    h1 {
        justify-content: center;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        font-family: "Plus Jakarta sans";



    }

    h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;

        color: white;

    }
    .Prdoduct-Container{

        position: relative;
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        margin: auto;


    }

    .Recommendations, .BigSaves, .FlashSales {

        position: relative;
        left: -24px;

        align-items: center;


        border: 0.2px solid #3a3d42;
        background-color: #24272c;
        border-radius: 15px;
        box-shadow: 1px 1px 4px #3a3a3a;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        margin: auto;





    }

    .Productone {
        margin: auto;
        position: relative;

        height: 100%;
        width: 100px;
        display: flex;

        flex-direction: column;


    }

    .Producttwo {
        display: none;
    }


    .ProductImg {
        box-shadow: 1px 1px 4px #3a3a3a;
        margin-top: 5px;
        width: 90px;
        height: 200px;
        background-color: #2a2d32;
        border-radius: 10px;
        margin-left: 5px;


    }

    .ProductImg2 {
        box-shadow: 1px 1px 4px #3a3a3a;
        margin-top: 5px;
        width: 90px;
        height: 200px;
        background-color: #2a2d32;
        border-radius: 10px;
        margin-right: 5px;

    }

    .flashContainer{

        position: absolute;
        top: 100%;



        display: flex;

        justify-content: center;

        margin-right: 10px;


        max-width: 100vw;
        overflow-x: hidden;

    }
    button {
        position: absolute;
        top: 250%;
        background-color: white;
        width: 70px;
        height: 30px;
        text-align: center;

        border-radius: 15px;
        border: none;
        box-shadow: 2px 2px 3px #353535;
    }
    .flash{



        width: 20px;
        height: 4px;
        margin-right: -10px;
    }
    #title{
        background-color: #9c1e1e;
        position: relative;
        top: 160%;

    }
    #pourcentage{
        font-size: 12px;
        position: relative;
        top:12px;
        left: -2px;
        font-weight: bold;
    }
}






@media (min-width: 1100px) and (max-width: 1280px){
    .offers{
        position: absolute;

    top: 52%;
    right: 0px;
    left: 70px;

    width: 84%;
    height: 20rem;
    padding: 5%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-bottom:0px ;

    }
    h1{
        justify-content: center;
        color: white;
        text-align: center;
        font-weight:bold;
        font-size: 2rem;
        font-family: "Plus Jakarta sans";


    }

}
@media (min-width: 590px) and (max-width: 1100px){

    .offers{
        position: absolute;

        top: 45%;
        right: 0px;
        left: 70px;

        width: 84%;
        height: 20rem;
        padding: 5%;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

        margin-bottom:0px ;


    }
    h1{
        justify-content: center;
        color: white;
        text-align: center;
        font-weight:bold;
        font-size: 1.5em;
        font-family: "Plus Jakarta sans";


    }


    .Offers-Conatiner{


        margin-left: 10px;
        position: relative;
        align-items: center;
        width: 100%;
        justify-content: space-between;

    }
    .Recommendations,.BigSaves,.FlashSales{

        position: relative;
        left: -20px;

         border: 0.2px solid #3a3d42;
    background-color: #24272c;
    border-radius: 15px;
    box-shadow: 1px 1px 4px #3a3a3a;
        position: relative;
        height: 100%;
        width: 200px;
        display: flex;
        flex-direction: column;


        margin-top: 5px;


    }
    .Productone,.Producttwo{
        margin: auto;
        position: relative;
        right: 10px;
        height: 100%;
        width: 200px;
        display: flex;
        flex-direction: column;

        gap: 3px;
        margin-top: 5px;




    }

    .ProductImg{
        box-shadow: 1px 1px 4px #3a3a3a;
        margin-top: 5px;
        width: 90px;
        height: 200px;
        background-color: #2a2d32;
        border-radius: 10px;
        margin-left: 5px;




    }
    .ProductImg2{
        box-shadow: 1px 1px 4px #3a3a3a;
        margin-top: 5px;
        width: 90px;
        height: 200px;
        background-color: #2a2d32;
        border-radius: 10px;
        margin-right: 5px;

    }
    .flashContainer,.flashContainertwo {
        display: none;
    }
    button {
        position: absolute;
        top: 120%;
        background-color: white;
        width: 70px;
        height: 30px;
        text-align: center;

        border-radius: 15px;
        border: none;
        box-shadow: 2px 2px 3px #353535;
    }
    .flash{


        display: none;

    }
    #title{
        display: none;


    }
    #pourcentage{
        display: none;

    }
}










