#ImgSlider{

    position: Absolute ;
    right: 3.5%;
    top: 10rem;

    z-index: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 88% !important;
    height: 25%;
    border-radius: 15px;
    transition: background-image 0.5s ease-in-out;

    background-color: #25282d;
}

 #ScrollLeft,#ScrollRight{
     width: 30px;
     height: 30px;
     color: white;
     cursor: pointer;
 }
#switcher{
    margin:auto ;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 94%;
    height: 5px;
    width: 100%;
}
@media (max-width: 490px) {

    #ImgSlider{

        position: absolute ;

        top: 5rem;
        margin: 0px;
        right: 0%;
        left: 0%;
        padding: 0 10%;




        height: 10%;
        border-radius: 0px;




    }
    #ScrollLeft,#ScrollRight{
        width: 30px;
        height: 30px;
        color: white;
        cursor: pointer;
    }
    #switcher{
        display:none;
    }



}
@media (min-width: 491px)and (max-width: 759px) {
    #ImgSlider{
        position: absolute ;

        top: 6rem;





        height: 25%;
        width: 83% !important; ;
        border-radius: 10px;
        transition: background-image 0.5s ease-in-out;

        background-color: #25282d;
    }


}

@media (min-width: 760px) and (max-width: 1170px)
{
    #ImgSlider{

        position: Absolute ;
        right: 20px;
        top: 7.5rem;

        z-index: 1;
        justify-content: center;
        display: flex;
        align-items: center;
        width: 92.8%;
        height: 27%;
        border-radius: 15px;
        transition: background-image 0.5s ease-in-out;

        background-color: #25282d;
    }



}