.nav-bar{


    position: Absolute;

    top: 0;
    right: 0;
    width: 95%;
    height: 80px;
    background-color: #25282d;
    box-shadow: 0px 0px 1px rgba(209, 208, 208, 0.5);
    border: 0.25px solid rgba(38, 38, 38, 0.2);

}

.Conatiner{


        margin: auto;
        position: relative;
        height: 100%;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

}
#CurrencyDrop {
    font-family: "Plus Jakarta sans";
    width: 80px;
    height: 28px;
    text-align: center;
    border-radius: 12px;
    border: none;

    font-size: 16px;
}
.category-container {
    font-family: "Plus Jakarta sans";
    position: relative;
    font-size: 18px;
}
#categoryText {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;

}
#categoryList {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: rgba(30 ,33,38,2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#categoryItem {
    padding: 5px 0;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}
#SearchIA{
    display: flex;
}
#IA{
    position: relative;
    left:3px;
    cursor: pointer;
}
#searchIA  {
    font-family: "Plus Jakarta sans";
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
#reorder{
    font-family: "Plus Jakarta sans";
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
    font-weight: bold;

}



#notification{
    color: white;
    width: 2.2rem;
    height: 2.2rem;
    position: relative;
    top:2px;
}
.input-wrapper{
    background-color: white;
    border-radius: 15px;
    height: 36px;
    width: 24rem;
    padding: 0px 10px;
    box-shadow: 0px 0px 10px #000000 ;
    display:flex ;
    align-items: center;
}
input{
    border: none;
    background-color: transparent;
    font-size: 18px;
    width: 100%;
    margin-left: 5px;

}
input:focus{
    outline: none;
}
#search-icon{
    color: #2b2b2b;
    cursor: pointer;
}
#Language-selector {
    ;

}
#account-icon{
    color: white;
    width: 2rem;
    height: 2rem;
    position: relative;
    top:2px;
}
@media (max-width: 490px) {
    .category-container,#categoryText,#categoryList,#categoryItem,#SearchIA,#searchIA,#IA,#reorder,#Language-selector,#CurrencyDrop,#notification{
        display: none;
    }
    .nav-bar {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 60px;
        background-color: #25282d;
        box-shadow: 0px 0px 1px rgba(209, 208, 208, 0.5);
        border: 0.25px solid rgba(38, 38, 38, 0.2);
        position: fixed;

    }



    .input-wrapper{

        position: fixed;
        left: 5rem;
        width: 12rem;
        height:28px;
        cursor: pointer;
    }
    #account-icon{
        position: fixed;
        right: 5%;
        width: 1.5rem;
        top: 15px;
    }




}

@media (min-width: 490px) and (max-width: 860px)

    {
        .nav-bar {
            width: 95%;
            height: 3rem;

        }
        .Conatiner {
            position: relative;
            width: 90%;
            height: 100%;
            margin:auto;
            display: flex;

            gap: 0.2rem;




        }
        #CurrencyDrop {
            font-family: "Plus Jakarta sans";


            width: 40px;
            height: 20px;
            text-align: center;
            border-radius: 12px;
            border: none;

            font-size: 10px;

        }

        #categoryText {
            font-family: "Plus Jakarta sans";
            position: relative;
            top: -3px;
            font-size: 10px;
            cursor: pointer;
            color: #ffffff;
            text-decoration: none;

        }

        #SearchIA {


            color: #ffffff;
            position: relative;
            margin-right: 10px;


            display: flex;

            text-decoration: none;

        }
        #searchIA  {
            font-family: "Plus Jakarta sans";
            font-size: 10px;
        }
        #reorder{
            font-family: "Plus Jakarta sans";
            font-size: 10px;
            width: 100%;
            position: relative;


        }
        #IA{
            position: relative;
            top: -2px;
            left: 2px;
            width: 12px;
            height: 12px;
        }

        #heart{
            position: relative;
            width: 10px;
            height: 10px;


        }

        #notification{
            color: white;
            width: 1.5rem;
            height: 1.5rem;

        }
        .input-wrapper{
            background-color: white;
            border-radius: 15px;
            height: 25px;
            width: 10rem;
            padding: 0px 10px;
            box-shadow: 0px 0px 10px #000000 ;
            display:flex ;
            align-items: center;
        }
        input{
            border: none;
            background-color: transparent;
            font-size:13px;
            width: 100%;

        }
        input:focus{
            outline: none;
        }




        #account-icon{
            color: white;
            width: 1.5rem;
            height: 1.5rem;
            position: relative;
            top:2px;
        }

    }


@media (min-width: 861px) and (max-width: 1170px)
{
    .nav-bar {
        width: 95%;
        height: 4.5rem;

        }
    .Conatiner {
        position: relative;
        width: 90%;
        height: 100%;
        margin:auto;
        display: flex;
        gap: 1rem;



    }
    #CurrencyDrop {
        font-family: "Plus Jakarta sans";


        width: 60px;
        height: 20px;
        text-align: center;
        border-radius: 12px;
        border: none;

        font-size: 12px;

    }

    #categoryText {
        font-family: "Plus Jakarta sans";
        position: relative;
        top: -3px;
        font-size: 13px;
        cursor: pointer;
        color: #ffffff;
        text-decoration: none;

    }

    #SearchIA {


        color: #ffffff;
        position: relative;
        margin-right: 10px;


        display: flex;

        text-decoration: none;

    }
    #searchIA  {
        font-family: "Plus Jakarta sans";
        font-size: 13px;
    }
    #reorder{
        font-family: "Plus Jakarta sans";
        font-size: 13px;
        width: 100%;
        position: relative;


    }
    #IA{
        position: relative;
        top: -2px;
        left: 2px;
        width: 15px;
        height: 15px;
    }

    #heart{
        position: relative;
        width: 10px;
        height: 10px;


    }

    #notification{
        color: white;
        width: 1.5rem;
        height: 1.5rem;

    }
    .input-wrapper{
        background-color: white;
        border-radius: 15px;
        height: 25px;
        width: 12rem;
        padding: 0px 10px;
        box-shadow: 0px 0px 10px #000000 ;
        display:flex ;
        align-items: center;
    }
    input{
        border: none;
        background-color: transparent;
        font-size:13px;
        width: 100%;

    }
    input:focus{
        outline: none;
    }




    #account-icon{
        color: white;
        width: 1.5rem;
        height: 1.5rem;
        position: relative;
        top:2px;
    }

    }











